/* ------------- base ------------- */

:root {
   --color-blue:#02b3e4;
   --color-dark-blue:#2d3c49;
   --color-gery-blue:#7d97ad;
   --light-grey: #f4f2f2;

   --line-thick : 3px solid var(--color-gery-blue);
   --line-thin : 1px solid var(--color-gery-blue);

   --shadow-dark : 0 2rem 6rem rgba(0, 0, 0, .3);
   --shadow-light : 0 2rem 5rem rgba(0,0,0,.06);
}

*,
* ::after,
* ::before{
    margin:0;
    padding : 0;
    box-sizing:inherit;
}


body {
    font-family: "Lato" , sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-dark-blue);
}
 
 

/* ------------- LAYOUT ------------- */

 

.header{
width:100%;
position: fixed;
z-index: 10;
background-color: var(--color-dark-blue);
}


.navbar {
  position: relative;
  padding: .5rem 0;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.title {
    text-decoration: none;
    color: white;
}

.nav-links:hover,
#aboutMeLink:target
{
    color: var(--color-blue);
}  

 

 
.main-nav li {
    text-align: center;
    margin: 15px auto;
    font-size: 1.2rem;
    font-weight: 900;
}

.title {
    margin-left: 1.5rem;
}

.navbar-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color:white;
    font-size: 24px;
}

.active {
    display: block;
    transition: all .1s;
}


.section-about{
    position: relative;
    width: 100%;
    float: left;
    clear: both;
}

.section-about .col-1{
  padding: 20rem 2rem 8rem 4rem;
  background-image: 
  linear-gradient(127deg, rgba(255, 255, 255, 0.007), rgba(2, 179, 228, 0.425)),
  url(/res/img/bg3.jpeg);
  background-position: right;
  background-blend-mode: soft-light;
  object-fit: cover;
}

 

.about-paragraph{
    text-align: left;
    font-size: 1.4rem;
    font-weight: 700;
    font-variant: small-caps;
}

.right-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-education{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 2fr;
  background-color: var(--light-grey);
}

.section-education--col-1{
   margin-left: 4rem;
   margin-top: 6rem;
}

.section-education--col-2{
    display: flex;
    padding-bottom: 4rem;
}


.section-education--col-2 .row{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
 

.education__item{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 2rem;
}

.education__item--header{
    font-weight: 300;
}


.education__item--image{
height: 90px;
width: 150px;
object-fit: contain;
align-self: center;
margin-bottom: 2rem;
object-fit: contain;
}




.section-skills{
position: relative;
display: flex;
flex-direction: column;
}

.skills-img--container{
    width: auto;
    margin: 6rem  0  5rem  4rem ;
}

.section-skills{
margin: 0 auto;
}
    
.skills-holder {
margin-top: 4rem;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-template-rows: 1fr;
grid-column-gap: 2rem;
}
 

.skill {
margin-bottom: 15px;
margin-right: 50px;
}

.skill label {
font-size: 20px;
font-weight: 400;
line-height: 30px;
color: var(--color-dark-blue);
}
.skill-bar {
background-color: var(--light-grey);
border-radius: 5px;
height: 12px;
width: 100%;
}
.skill-bar .level {
background-color: var(--color-dark-blue);
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
border-color: #222;
border-image: none;
border-right: 1px solid #111;
border-style: solid;
border-width: 1px;
height: 10px;
width: 0;
}
    
.level.html { background-color: var(--color-gery-blue); border-color: var(--color-gery-blue); }
.level.css { background-color: var(--color-gery-blue); border-color: var(--color-gery-blue); }
.level.jquery { background-color: var(--color-gery-blue); border-color: var(--color-gery-blue); }
.level.javascript { background-color: var(--color-gery-blue); border-color: var(--color-gery-blue); }
.level.angular { background-color: var(--color-gery-blue); border-color: var(--color-gery-blue); }
.level.jquery { background-color: var(--color-gery-blue); border-color: var(--color-gery-blue); }
.level.ionic { background-color: var(--color-gery-blue); border-color: var(--color-gery-blue); }
.level.wordpress { background-color: var(--color-gery-blue); border-color: var(--color-gery-blue); }
.level.design { background-color: var(--color-gery-blue); border-color: var(--color-gery-blue); }


.section-work{
padding: 5rem 0 6rem 4rem;
background-image: url(../../res/img/work.jpeg);
background-position: left;
}

.work-container{
    list-style: none;
    margin: 4rem -.5rem;
}

.work-item{
   font-size: 1.1rem;
}


.work-item::before{
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-top: .7rem;
    background-color: var(--color-gery-blue);
    -webkit-mask-image:url(/myPortfolio/res/img/chevron-thin-right.svg);
    -webkit-mask-size:cover;
}



.contact-links{
margin: 2rem 0;
display: flex;
justify-content: center;
}

.contact-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100px;
    margin-bottom: 1rem;
}

.contact-links .col{
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link__item{
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    color: white;
}
 

.link__item:hover,
.link__item:focus,
.link__item:active{
    color: var(--color-blue);
}


.footer {
background-color: var(--color-dark-blue);
color: #fafafa;
margin: 0 auto;
padding: 5rem 0 5rem 4rem;
}


/* ------------- component -------------*/


/*-- headings --*/
.heading-large {
font-weight: 100;
font-size: 1.8rem;
margin-bottom: -.3rem;
}

.heading-small {
font-weight: 400;
font-size: .8rem;
margin-bottom: .8rem;
}

h2{
font-weight: 900;
line-height:  3.5rem;
padding-top: 10px;
font-size: 4rem;
width:10%
}

h2:after{
display: block;
height: 3px;
width:40px;
background-color: var(--color-gery-blue);
content: " ";
margin-top: 10px;
}


.display-1{
width: 10%;
line-height: .8em;
font-size: 4rem;
color: var(--color-dark-blue);
font-weight: 700 !important;
margin-bottom: 1.5rem;
}
 

.display-1:after {
display: block;
height: 3px;
width: 40px;
background-color:var(--color-gery-blue);
content: " ";
margin-top: 10px;
}


.icon{
color: var(--color-gery-blue);
font-size: 2rem;
}

.icon:hover{
color: var(--color-blue);
}

.small-iocn{
    color: var(--color-gery-blue);
    padding: 0.4rem;
}


/* ------------- Utilities -------------*/


.bold {
font-weight: 400;
}

.u-center-text{
text-align: center !important;
}


.u-margin-left{
margin-left: 2.5rem !important;
}

 
.u-magin-bottom-small{
margin-bottom: 1.5rem !important;
}
.u-magin-bottom-medium{
margin-bottom: 4rem !important;
} 
.u-magin-bottom-big{
 margin-bottom: 8rem !important;
}
 
.u-magin-top{
margin-top: 4rem !important;
}
 
.u-magin-top-huge{
margin-top: 10rem;
}
 
.u-padding-top-huge{
padding-top: 15rem;
}



/* ------------- Media Queries  ------------- */



@media screen and (min-width: 890px){
 
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }
     
}



@media screen and (max-width: 800px){

    h2,
    .display-1{
        font-size: 4rem;
        width: 20%;
    }


    h2:after{
    display: block;
    height: 2px;
    margin-top: 10px;
    }

    .section-about{
    margin-top: 5rem !important;
    }

    .section-about .col-2{
     display: none;
    }
        
    .section-education--col-2 .row{
    flex-wrap: wrap;
    }

    .education__item{
    margin: 0 1rem; 
    }

    .education__item--header {
        font-size: 1rem;
    }

    .education__item--image {
        height: 60px;
    }



    .section-work {
        margin-left: 0;
    }

    
    .skill label {
        font-size: 15px;
      
    }

   
    .work-item {
        font-size: .9rem;
    }

    .footer{
       padding-top: 1rem;
    }

    .contact-links {
        margin: 2rem 0;
    }
    .link__item{
        font-size: 1rem;
    }
    
    .link__item:not(:first-child){
        margin-left:1rem;
    }
}

@media only screen and (max-width: 600px) {

h2,
.display-1{
 font-size: 3rem;
 line-height: .9;
 width: 20%;
}

.about-paragraph{
    font-size: 1.2rem;
}

 .section-education--col-2{
     flex-direction: column;
 }
 
 .education__item{
     max-width: 400px;
     align-items: center;
     padding-bottom: 1rem;
 }

 

 .section-skills h1{
     margin-top: 3rem;
 }


 .work-container{
 margin-left: -.5rem;
 margin-right: 2rem;
 }


.section-education--col-1,
.skills-img--container{
margin-left: 2rem;

}

.section-about .col-1{
padding-left: 2rem;
padding-top: 13rem;
}
.skills-img--container{
    margin-top: 4rem;
}
.section-work,
.footer{
    padding-left: 2rem;
    padding-top: 4rem;
}

 
 
  

}

    